/* Font Selection for Nav */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

/* Body Styling to match footer and to ensure it is fixed */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Brand Logo(Nav Title) Styling w/ Media Query*/
.brand-logo {
    font-family: 'Merienda', cursive;
    font-size: 20px!important;
}
@media only screen and (min-width: 600px) {
    .brand-logo {
        font-size: 30px!important;
        margin-left: 5vw;
    }
}

h3 {
    font-family: 'Merienda', cursive;
    color: red;
}

/*Extended Nav Styling */
.nav-extended {
    font-family: 'Merienda', cursive;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Flash Messages styling */
.flashes h4 {
    line-height: 2;
}

/* Button styling that is applied to recipe buttons */
.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* Styling for the card above search on home page that shows websites purpose */
.mid-center {
    margin: auto;
    padding: 15px;
}

.icon-link {
    margin-right: 2vw;
    font-size: 25px;
}

/* Push down styling for formatting including Media Queries */
.push-down {
    margin-top: 250px;
}

@media only screen and (min-width: 600px) {
    .push-down {
        margin-top: 400px;
    }
}

/* Carousel Styling for both Mobile and Desktop including Media Queries */
.carousel-mobile {
    display: block;
}
.carousel-desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    .carousel-mobile {
        display: none;
    }
    .carousel-desktop {
        display: block;
    }
}

/* Modal Content button styling */
.viewall-btn{
    margin:2.5vh auto;
}

/* Media Queries for viewall button on Modal Structure as well as the content in it to match website theme */
@media only screen and (min-width: 600px) {
    .viewall-btn{
    margin-left: 2vw;
    }
}

.modal-content {
    background-color: red;
}
