@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


.brand-logo {
    font-family: 'Merienda', cursive;
    font-size: 20px!important;
}
@media only screen and (min-width: 600px) {
    .brand-logo {
        font-size: 30px!important;
        margin-left: 5vw;
    }
}

.nav-extended {
    font-family: 'Merienda', cursive;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.mid-center {
    margin: auto;
    padding: 15px;
}

.icon-link {
    margin-right: 2vw;
    font-size: 25px;
}

.push-down {
    margin-top: 250px;
}

@media only screen and (min-width: 600px) {
    .push-down {
        margin-top: 400px;
    }
}

.carousel-mobile {
    display: block;
}
.carousel-desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    .carousel-mobile {
        display: none;
    }
    .carousel-desktop {
        display: block;
    }
}
